{% extends 'base.html' %}
{% block metarefresh %}
<meta http-equiv="refresh" content="10">
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Dashboard</h1>
        <p>View all your patrons request below</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Request</h2>
            {% if requests %}
            <table class="table table-inverse">
                <tr>
                    <th>No.</th>
                    <th>Wait</th>
                    <th>Resolve</th>
                </tr>
            {% for request in requests %}
                <tr>
                    <form class="form-inline" action="/dashboard/resolve">
                        <td>{{ request.table_number }}</td>
                        <td>{{ request.wait_minutes }}</td>
                        <input type="text" name="request_id" value="{{ request._id }}" hidden>
                        <td><input type="submit" value="Resolve" class="btn btn-success"></td>
                    </form>
                </tr>
            {% endfor %}
            </table>
            {% else %}
          <p>All Your Customers are satisfied - No Request at the moment </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        {% endif %}
        </div>
    </div>
    </div> <!-- /container -->


{% endblock %}